body{
    font-family: "Outfit",Arial, Helvetica, sans-serif;
    background-color: rgb(232, 249, 250);
    margin-top: 20px;
    margin-bottom: 3000px;
}

.container{
    width: 320px;
    margin: 0 auto;
    background-color: white;
    border-radius: 15px;
    height: 480px;
    padding: 10px;
    
   
}


.qr {
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 15px;
}

.text{
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
    
    
}

.text p {
    color: rgb(163, 159, 159);
    margin-top: 10px;
    text-align: center;
    
}

